<head>
  <meta charset="UTF-8">
  <title>{{ site.title }}{{ site.sub_title }}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{site.description}}">
  <meta property="og:title" content="{{ site.title }}{{ site.sub_title }}"/>
  <meta property="og:description" content="{{site.description}}"/>
  <meta property="og:image" content="{{ site.url }}/images/sns.png"/>
  <meta property="og:url" content="{{ site.url }}"/>
  <meta property="og:type" content="article"/>
  <meta name="twitter:site" content="{{ site.twitter_username }}">
  <meta name="twitter:card" content="summary">

  <meta name="format-detection" content="telephone=no">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#157878">
  <link rel="canonical" href="{{ site.url }}">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/normalize.css">
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/cayman.css">
  <link rel="icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon">
</head>
